*.log
*.pdf
*.aux
*.bbl
*.blg
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.fdb_latexmk
*.fls
*.tlt
*.nav
*.snm
*.vrb
-e "*.aux\n*.toc\n*.out\n*.synctex.gz\n*.log\n*.bbl\n*.blg" 
-e "*.aux\n*.toc\n*.log\n*.out\n*.synctex.gz\n*.bbl\n*.blg\n*.pdf" 
