*.aux
*.log
*.bbl
*.blg
*.toc
*.out
*.lof
*.lot
*.synctex.gz
*.fdb_latexmk
*.fls
*.nav
*.snm
*.vrb
*.tlt
*.xdv
*.gz
*.pdf
*.exp

*.dvi
*.ps
*.eps

*.nav
*.snm

*.acn
*.acr
*.alg
*.glg
*.glo
*.gls*
*.ist
*.nlo
*.nls

_minted*
*.pyg

*.lua
*.luatexout

!*.tex
!*.bib
!*.sty
!*.cls
!*.bst
!*.png
!*.jpg
!*.jpeg
!*.pdf_tex 
!*.svg

# Allow thesis PDF ONLY if you want:
# !thesis.pdf

# LaTeX build files
*.aux
*.lof
*.lot
*.out
*.toc
*.synctex.gz
